attrs==20.3.0
certifi==2020.11.8
click==7.1.2
fastapi==0.63.0
flasgger==0.9.5
Flask==1.1.2
gunicorn==20.0.4
h11==0.12.0
importlib-metadata==3.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
MarkupSafe==1.1.1
mistune==0.8.4
numpy==1.19.4
pandas==1.1.4
pydantic==1.7.3
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
starlette==0.13.6
tensorflow-gpu==2.3.1
tensorflow-gpu-estimator==2.3.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
uvicorn==0.13.3
Werkzeug==1.0.1
wincertstore==0.2
zipp==3.4.0
